@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');
body {
    background: #ebebeb;
    font-family: 'Roboto', sans-serif;

}

#NavBar {
    padding: 20px;
    background: #6796ff;
    margin-bottom: 50px;
}
.container{
    margin: 0 auto;
    width: 20%;
    /* border: 1px solid; */
    padding: 10px;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}
h1 {
    text-align: center;
}

.form-cont{
    margin: 10px auto;
    /* border: 1px solid blue; */
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: white; */
    padding: 5px;
    
}
input#image {
    padding: 5px;
    width: 90%;
    display: flex;
    margin: 0 auto;
}
input,select {
    margin-top: 2px;
    width: 100%;
    border-radius: 0.25rem;
    border: none;
    background: #ebebeb;
    height: 25px;
}

.btn {
    
    padding: 10px;
    width: 40%;
    margin: 30px auto;
    text-align: center;
    border-radius: 0.25rem;
    color: white;
}
.btn:hover,#btnChange:hover{
    cursor: pointer;
}

.btnNew {
    background: #29af20;
    display: flex;
    width: 50%;
    justify-content: center;
}

.btnEdit {
    background: #3c79ff;
}

.dnone {
    display: none;
}

.dblock {
    display: block;
}

#contbtnchange {
    margin: 0 auto 5px;
    width: 21%;
}

#btnChange {
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;
    width: 12%;
    border: none;
    background: #cfcfcf;
}

@media (max-width: 479px) and (min-width: 320px) {

    .container {width: 90%;}
    #btnChange{width: 60%;}
}